

.App {
 text-align: center;
 margin: 3% 10%;
}

.recipes-block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 1% 5%;
  z-index: 0;
}

.recipe-box {
display: flex;
flex-direction: column;
text-transform: capitalize;
overflow-wrap: break-word;
justify-content: center;
align-items: center;
align-content: center;
margin: 1%;
padding: 1% 2%;
background-color: #abecd6;
box-shadow: 2px 4px 7px rgba(128, 128, 128, 0.596);
}
.recipe-box img {
  width: 275px;
  padding: 2%;
}

.search-block {
  background: #a5db86;
  margin: 3% 30%;
  padding: 2% 5%;
}


.hide {
  display: none;
}

.view-recipe {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.74); 

}
.view-recipe-content {
  background-color: #fefefe;
  margin: 10% 35%; 
  border: 5px solid rgb(97, 196, 174);
  padding: 1%;
}